<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area-border-bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1248,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1248,93}}</string>
                <key>sourceSize</key>
                <string>{1248,93}</string>
            </dict>
            <key>area-border-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{17,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,760}}</string>
                <key>sourceSize</key>
                <string>{17,760}</string>
            </dict>
            <key>area-border-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{17,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,760}}</string>
                <key>sourceSize</key>
                <string>{17,760}</string>
            </dict>
            <key>area-border-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{1248,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1248,17}}</string>
                <key>sourceSize</key>
                <string>{1248,17}</string>
            </dict>
            <key>border-circle-black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,189},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>border-circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,154},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>border-polygon-black.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,154},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>border-polygon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,131},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,165},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>chat-circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,116},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>chat-man.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,131},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>chatbox-part-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,154},{67,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,95}}</string>
                <key>sourceSize</key>
                <string>{67,95}</string>
            </dict>
            <key>chatbox-part-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,154},{15,73}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,73}}</string>
                <key>sourceSize</key>
                <string>{15,95}</string>
            </dict>
            <key>chatbox-part-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,171},{14,73}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,73}}</string>
                <key>sourceSize</key>
                <string>{14,95}</string>
            </dict>
            <key>chatbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{395,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,95}}</string>
                <key>sourceSize</key>
                <string>{395,95}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,116},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>dna-point.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,116},{125,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,148}}</string>
                <key>sourceSize</key>
                <string>{125,148}</string>
            </dict>
            <key>eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,194},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>gear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,131},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,187},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>knife.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,154},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>nova.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,186},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>pencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,187},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,154},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>ppm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>pure.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,154},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>scoop-pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,212},{42,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{1381,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d0297a17fafd38d29c015daa9152800:43549d6c40bc32725e28a42831cb3c54:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
