<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biosystem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>bluebird.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>education_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,86}}</string>
                <key>sourceSize</key>
                <string>{66,86}</string>
            </dict>
            <key>fakebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>fishtank.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{65,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,86}}</string>
                <key>sourceSize</key>
                <string>{65,86}</string>
            </dict>
            <key>nova.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>overtech.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>planaria_factory.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{60,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,89}}</string>
                <key>sourceSize</key>
                <string>{60,89}</string>
            </dict>
            <key>planaria_lab.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{60,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,86}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
            <key>platonic.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{59,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,89}}</string>
                <key>sourceSize</key>
                <string>{59,89}</string>
            </dict>
            <key>pure.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,2},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>roseknife.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{58,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{58,72}</string>
            </dict>
            <key>upgrade_filter.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{62,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{62,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>techtreeicons.png</string>
            <key>size</key>
            <string>{748,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4313bb74d6f8ff29d7b682a597fd8650:4114ad72b3e653edce83b067e2762562:1eff20eaad104ac8dd41038c64c28fdd$</string>
            <key>textureFileName</key>
            <string>techtreeicons.png</string>
        </dict>
    </dict>
</plist>
